*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 20px 5%;
}
.logo{

    
    display: flex;
    align-items: center;
}
nav{
    
    display:flex;
    align-items: center;
}
section{
   
    overflow: hidden;
}
section img{
    height: 330px;
   
}